{% extends 'base.html' %}

{% block title %}
Blog
{% endblock title %}

{% block main_content %}
<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-8">
        {% for blog, data in blog_data_with_comments.items %}
        <!-- Blog Post -->
        <article class="entry mb-4">
          <div class="card shadow">
            <div class="card-body">
              <h2 class="card-title">{{ blog.title }}</h2>
              <p class="card-text">{{ blog.description }}</p>
            </div>
            <!-- Comments Section -->
            <div class="card-footer">
              <h5 class="card-title">Comments</h5>
              <ul class="list-unstyled">
                {% for comment in data.comments %}
                <li class="media mb-3">
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">{{ comment.name }}</h5>
                    <p>{{ comment.comments }}</p>
                  </div>
                </li>
                {% empty %}
                <li class="media mb-3">
                  <div class="media-body">
                    <p>No comments yet.</p>
                  </div>
                </li>
                {% endfor %}
              </ul>
              <!-- Add Comment Form -->
              <form method="post" action="/add-comment/{{blog.id}}/" class="mt-4">
                {% csrf_token %}
                <input type="hidden" name="blog_id" value="{{ blog.id }}">
                <div class="form-group">
                  <label for="name">Your Name</label>
                  <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                  <label for="comment">Your Comment</label>
                  <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div><!-- End Comments -->
          </div>
        </article><!-- End Blog Post -->
        {% endfor %}
      </div>
      
      <!-- Sidebar -->
      <div class="col-lg-4">
        <div class="sidebar">
          <!-- Sidebar Widget: About Author -->
          <div class="sidebar-widget">
            <h3 class="widget-title">About Author</h3>
            <div class="author">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg" alt="Author Avatar" class="rounded-circle">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ipsum ac mi bibendum consectetur.</p>
            </div>
          </div><!-- End Sidebar Widget: About Author -->

          <!-- Sidebar Widget: Categories -->
          <div class="sidebar-widget">
            <h3 class="widget-title">Categories</h3>
            <ul class="categories">
              {% for data in cat_data %}
              <li><a href="#">{{data.name}}</a></li>
              {% endfor %}
            </ul>
          </div><!-- End Sidebar Widget: Categories -->
        </div><!-- End sidebar -->
      </div><!-- End col-lg-4 -->
    </div><!-- End row -->
  </div><!-- End container -->
</section><!-- End blog section -->
{% endblock main_content %}
