{% extends 'base.html' %}

{% block title %}
Contact
{% endblock title %}

{% block main_content %}
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    
    <div class="section-title">
      <h2>Contact Methods</h2>
    </div>

    <div class="row justify-content-center">

      <!-- Email -->
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box iconbox-blue">
          <div class="icon">
            <i class="bi bi-envelope"></i>
          </div>
          <h4>Email</h4>
          <p>support.system@awalavados.com</p>
        </div>
      </div>

      <!-- WhatsApp -->
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box iconbox-orange">
          <div class="icon">
            <i class="fab fa-whatsapp"></i>
          </div>
          <h4>WhatsApp</h4>
          <p>Direct customer support.</p>
        </div>
      </div>

      <!-- Help and Support -->
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box iconbox-pink">
          <div class="icon">
            <i class="bi bi-question-circle"></i>
          </div>
          <h4>Help and Support</h4>
          <p>Visit the user help center for assistance with accounts or subscriptions.</p>
        </div>
      </div>

    </div>

  </div>
</section>
{% endblock main_content %}
