{% extends 'base.html' %}

{% block title %}
Guide
{% endblock title %}

{% block main_content %}
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-6 ">
            <div class="section-title">
                <h2>Savings</h2>
                <p>Customers can save between 65% and 70% compared to individual washes. The time saved by not having to travel to a car wash or wait in lines is invaluable.</p>
            </div>
            <div class="section-title">
                <h2>Purchase Process</h2>
                <p>Customers can register on the web or the AWA app by selecting the type of vehicle (compact, sedan, SUV, or truck) and then the desired subscription plan (annual, semi-annual, monthly, or single wash). Monthly and semi-annual subscription plans allow adding categories, while the annual subscription includes premium access.</p>
            </div>
            <div class="section-title">
                <h2>Payment Methods</h2>
                <p>Customers can pay using QR, credit, or debit cards.</p>
            </div>
        </div>
        
    </div>
</div>
{% endblock main_content %}
