{% extends 'base.html' %}
{% load static %}

{% block main_content %}
<div class="container mb-2">
  <div class="row">
    <div class="col-md-4 mt-3">
        <div class="card" style="background: linear-gradient(to bottom, #8360c3, #2ebf91);">
          <div class="card-header bg-primary text-white">
            Annual Subscription
          </div>
          <div class="card-body">
            <div class="subscription-option mt-3">
              <h5 class="card-title">Premium</h5>
              <p class="price">$49/year</p>
              <ul class="list-group list-group-flush">
                <div class="container d-flex justify-content-between">
                    <li class="list-group-item mt-1">Basic features</li>
                    <li class="list-group-item mt-1">100$</li>
                    
                </div>
                <div class="container d-flex justify-content-between">
                    <li class="list-group-item mt-1">Basic features</li>
                    <li class="list-group-item mt-1">100$</li>
                    
                </div>
                <div class="container d-flex justify-content-between">
                    <li class="list-group-item mt-1">Basic features</li>
                    <li class="list-group-item mt-1">100$</li>
                    
                </div>
                <div class="container d-flex justify-content-between">
                    <li class="list-group-item mt-1">Basic features</li>
                    <li class="list-group-item mt-1">100$</li>
                    
                </div>
            
                    
              </ul>
              <a href="#" class="btn mt-2 w-100 btn-primary select-subscription" data-type="basic">Select</a>
            </div>
            <div class="subscription-option mt-3">
                <h5 class="card-title">Special</h5>
                <ul class="list-group list-group-flush">
                  <div class="container d-flex justify-content-between">
                      <li class="list-group-item mt-1">Basic features</li>
                      <li class="list-group-item mt-1">100$</li>
                      
                  </div>
                  <div class="container d-flex justify-content-between">
                      <li class="list-group-item mt-1">Basic features</li>
                      <li class="list-group-item mt-1">100$</li>
                      
                  </div>
                  <div class="container d-flex justify-content-between">
                      <li class="list-group-item mt-1">Basic features</li>
                      <li class="list-group-item mt-1">100$</li>
                      
                  </div>
                  <div class="container d-flex justify-content-between">
                      <li class="list-group-item mt-1">Basic features</li>
                      <li class="list-group-item mt-1">100$</li>
                      
                  </div>
              
                      
                </ul>
                <a href="#" class="btn mt-2 w-100 btn-primary select-subscription" data-type="basic">Select</a>
              </div>

          
          </div>
        </div>        
      </div>

      <div class="col-md-4 mt-3">
        <div class="card" style="background: linear-gradient(to bottom, #8360c3, #2ebf91);">
          <div class="card-header bg-primary text-white">
            Annual Subscription
          </div>
          <div class="card-body">
            <div class="subscription-option mt-3">
              <h5 class="card-title">Premium</h5>
              <p class="price">$49/year</p>
              <ul class="list-group list-group-flush">
                <div class="container d-flex justify-content-between">
                    <li class="list-group-item mt-1">Basic features</li>
                    <li class="list-group-item mt-1">100$</li>
                    
                </div>
                <div class="container d-flex justify-content-between">
                    <li class="list-group-item mt-1">Basic features</li>
                    <li class="list-group-item mt-1">100$</li>
                    
                </div>
                <div class="container d-flex justify-content-between">
                    <li class="list-group-item mt-1">Basic features</li>
                    <li class="list-group-item mt-1">100$</li>
                    
                </div>
                <div class="container d-flex justify-content-between">
                    <li class="list-group-item mt-1">Basic features</li>
                    <li class="list-group-item mt-1">100$</li>
                    
                </div>
            
                    
              </ul>
              <a href="#" class="btn mt-2 w-100 btn-primary select-subscription" data-type="basic">Select</a>
            </div>
            <div class="subscription-option mt-3">
                <h5 class="card-title">Special</h5>
                <ul class="list-group list-group-flush">
                  <div class="container d-flex justify-content-between">
                      <li class="list-group-item mt-1">Basic features</li>
                      <li class="list-group-item mt-1">100$</li>
                      
                  </div>
                  <div class="container d-flex justify-content-between">
                      <li class="list-group-item mt-1">Basic features</li>
                      <li class="list-group-item mt-1">100$</li>
                      
                  </div>
                  <div class="container d-flex justify-content-between">
                      <li class="list-group-item mt-1">Basic features</li>
                      <li class="list-group-item mt-1">100$</li>
                      
                  </div>
                  <div class="container d-flex justify-content-between">
                      <li class="list-group-item mt-1">Basic features</li>
                      <li class="list-group-item mt-1">100$</li>
                      
                  </div>
              
                      
                </ul>
                <a href="#" class="btn mt-2 w-100 btn-primary select-subscription" data-type="basic">Select</a>
              </div>

          
          </div>
        </div>        
      </div>

      <div class="col-md-4 mt-3">
        <div class="card" style="background: linear-gradient(to bottom, #8360c3, #2ebf91);">
          <div class="card-header bg-primary text-white">
            Annual Subscription
          </div>
          <div class="card-body">
            <div class="subscription-option mt-3">
              <h5 class="card-title">Premium</h5>
              <p class="price">$49/year</p>
              <ul class="list-group list-group-flush">
                <div class="container d-flex justify-content-between">
                    <li class="list-group-item mt-1">Basic features</li>
                    <li class="list-group-item mt-1">100$</li>
                    
                </div>
                <div class="container d-flex justify-content-between">
                    <li class="list-group-item mt-1">Basic features</li>
                    <li class="list-group-item mt-1">100$</li>
                    
                </div>
                <div class="container d-flex justify-content-between">
                    <li class="list-group-item mt-1">Basic features</li>
                    <li class="list-group-item mt-1">100$</li>
                    
                </div>
                <div class="container d-flex justify-content-between">
                    <li class="list-group-item mt-1">Basic features</li>
                    <li class="list-group-item mt-1">100$</li>
                    
                </div>
            
                    
              </ul>
              <a href="#" class="btn mt-2 w-100 btn-primary select-subscription" data-type="basic">Select</a>
            </div>
            <div class="subscription-option mt-3">
                <h5 class="card-title">Special</h5>
                <ul class="list-group list-group-flush">
                  <div class="container d-flex justify-content-between">
                      <li class="list-group-item mt-1">Basic features</li>
                      <li class="list-group-item mt-1">100$</li>
                      
                  </div>
                  <div class="container d-flex justify-content-between">
                      <li class="list-group-item mt-1">Basic features</li>
                      <li class="list-group-item mt-1">100$</li>
                      
                  </div>
                  <div class="container d-flex justify-content-between">
                      <li class="list-group-item mt-1">Basic features</li>
                      <li class="list-group-item mt-1">100$</li>
                      
                  </div>
                  <div class="container d-flex justify-content-between">
                      <li class="list-group-item mt-1">Basic features</li>
                      <li class="list-group-item mt-1">100$</li>
                      
                  </div>
              
                      
                </ul>
                <a href="#" class="btn mt-2 w-100 btn-primary select-subscription" data-type="basic">Select</a>
              </div>

          
          </div>
        </div>        
      </div>

      
  </div>
</div>
{% endblock main_content %}



