{% extends 'Dashboard/base.html' %}
{% load static %}

{% block main_content %}
<div class="container">
  <form method="POST" action="/addblog/">
    {% csrf_token %}
    <div class="mb-3">
      <label for="title" class="form-label">Title:</label>
      <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description:</label>
      <textarea class="form-control" id="description" name="description" rows="5" required></textarea>
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Category:</label>
      <select class="form-select" id="category" name="category" required>
        <option value="">Select category</option>
        {% for category in categories %}
          <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Add Blog</button>
  </form>

</div>
 
{% endblock main_content %}

